:root {
  // Theme Colors
  --red: rgb(223, 0, 88);
  --maroon: rgb(145, 47, 86);
  --light: rgb(234, 242, 239);
  --dirt: rgb(90, 71, 78);
  --dark: rgb(13, 9, 10);
  --gray: rgb(208, 204, 206);
  --dark-gray: rgb(36, 36, 36);
  --blue: rgb(0, 66, 247);
  --royal-blue: rgb(37, 0, 201);

  // Colors
  --white: rgb(255, 255, 255);
  --vue: #4fc08d;

  // Fonts
  --fira-code: 'Fira Code', monospace;
  --source-sans: 'Rubik', sans-serif;
}