:root {
  // Theme Colors
  --red: #DF0058;
  --maroon: #912F56;
  --light: #EAF2EF;
  --dirt: #5A474E;
  --dark: #0D090A;

  // Fonts
  --fira-code: 'Fira Code', monospace;
  --source-sans: 'Source Sans Pro', sans-serif;
}